<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form [formGroup]="createRoomForm" (submit)="onCreateRoomFormSubmit(createRoomForm.value)">
          <div class="form-group" [ngClass]="{
            'has-error': (createRoomForm.get('name').touched && !createRoomForm.get('name').valid) || errors?.name
          }">
            <label class="control-label" for="name">Room name</label>
            <input class="form-control" type="text" formControlName="name" placeholder="Room name">
            <span class="help-block" *ngIf="createRoomForm.get('name').touched && (createRoomForm.get('name').hasError('minlength') || createRoomForm.get('name').hasError('maxlength'))">
              Room name must be between 3 and 10 characters long.
            </span>
            <span class="help-block" *ngIf="createRoomForm.get('name').touched && createRoomForm.get('name').hasError('nonalphanumeric')">
              Room name can contain only numbers and latin letters.
            </span>
            <span class="help-block" *ngIf="createRoomForm.get('name').touched && createRoomForm.get('name').hasError('required')">
              This field is required.
            </span>
            <ng-template [ngIf]="errors && errors.name">
              <span class="help-block" *ngFor="let error of errors.name">
                {{ error | capitalize }}
              </span>
            </ng-template>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': createRoomForm.get('title').touched && !createRoomForm.get('title').valid
          }">
            <label class="control-label" for="title">Title</label>
            <input class="form-control" type="text" formControlName="title" placeholder="Room title (optional)">
            <span class="help-block" *ngIf="createRoomForm.get('title').touched && createRoomForm.get('title').hasError('maxlength')">
              Title cannot be longer than 50 characters.
            </span>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': createRoomForm.get('videoUrl').touched && !createRoomForm.get('videoUrl').valid
          }">
            <label class="control-label" for="videoUrl">Video URL</label>
            <input class="form-control" type="url" formControlName="videoUrl" placeholder="YouTube video URL">
            <span class="help-block" *ngIf="createRoomForm.get('videoUrl').touched && createRoomForm.get('videoUrl').hasError('required')">
              This field is required.
            </span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!createRoomForm.valid" [ngClass]="{
                  'disabled': isSending || !createRoomForm.valid
                }">
                  Create room
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>