<div class="container-fluid">
  <div class="row row__video">
    <div class="col-md-9 col-sm-12">
      <div id="player"></div>
      <p>
        <button class="btn btn-primary" (click)="synchronizeVideo()">Sync video</button>
        If you accidentialy paused video or it was buffering for a long time, you can be out of sync.
      </p>
      <form [formGroup]="changeVideoForm" (submit)="onChangeVideoFormSubmit(changeVideoForm.value)">
        <div class="input-group">
          <input class="form-control" type="text" formControlName="videoUrl" id="videoUrl" placeholder="Video URL">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Change video</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-chat></app-chat>
    </div>
  </div>
</div>