<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form [formGroup]="signUpForm" (submit)="onSignUpFormSubmit(signUpForm.value)">
          <div class="alert alert-danger" *ngIf="errors.nonFieldErrors">
            <ul>
              <li *ngFor="let error of errors.nonFieldErrors">
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': (signUpForm.get('username').touched && !signUpForm.get('username').valid) || errors.username
          }">
            <label class="control-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" formControlName="username">
            <span class="help-block" *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('required')">
              This field is required.
            </span>
            <ng-template [ngIf]="errors.username">
              <span class="help-block" *ngFor="let error of errors.username">{{ error }}</span>
            </ng-template>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': (signUpForm.get('password').touched && !signUpForm.get('password').valid) || errors.password
          }">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" formControlName="password">
            <span class="help-block" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('required')">
              This field is required.
            </span>
            <span class="help-block" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('minlength')">
              Password must be at least {{ signUpForm.get('password').errors.minlength.requiredLength }} characters long.
            </span>
            <ng-template [ngIf]="errors.password">
              <span class="help-block" *ngFor="let error of errors.password">{{ error }}</span>
            </ng-template>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': signUpForm.get('passwordConfirmation').touched && (!signUpForm.get('passwordConfirmation').valid || signUpForm.hasError('passwordIdentity'))
          }">
            <label class="control-label" for="passwordConfirmation">Password confirmation</label>
            <input class="form-control" type="password" id="passwordConfirmation" formControlName="passwordConfirmation">
            <span class="help-block" *ngIf="signUpForm.get('passwordConfirmation').touched && signUpForm.get('passwordConfirmation').hasError('required')">
              This field is required.
            </span>
            <span class="help-block" *ngIf="signUpForm.get('passwordConfirmation').touched && signUpForm.hasError('passwordIdentity')">
              Passwords do not match.
            </span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!signUpForm.valid" [ngClass]="{
                  'disabled': isSending || !signUpForm.valid
                }">Sign up!</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>