<div class="chat">
  <h1 class="chat__header">Live chat</h1>
  <div class="chat__messages-container">
    <ul class="chat__messages">
      <li *ngFor="let message of messages">
        <strong>{{ message.author.username }}</strong> {{ message.message }}
      </li>
    </ul>
  </div>
  <form [formGroup]="chatMessageForm" (submit)="onChatMessageFormSubmit(chatMessageForm.value)">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <input class="form-control" type="text" formControlName="message">
      </div>
      <div class="col-md-3 col-sm-12">
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
