.chat {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.chat__header {
  margin-top: 0;
}

.chat__messages-container {
  flex-grow: 2;
  overflow: scroll;
  padding-bottom: 20px;
}

.chat__messages {
  list-style-type: none;
  padding-left: 0;
}