<div class="container vertical-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="alert alert-danger" *ngIf="errors.nonFieldErrors">
          <ul>
            <li *ngFor="let error of errors.nonFieldErrors">
              {{ error }}
            </li>
          </ul>
        </div>
        <form [formGroup]="logInForm" (submit)="onLogInFormSubmit(logInForm.value)">
          <div class="form-group" [ngClass]="{
            'has-error': logInForm.get('username').touched && !logInForm.get('username').valid
          }">
            <label class="control-label" for="username">Username</label>
            <input class="form-control" type="text" formControlName="username" id="username" placeholder="Username">
            <span class="help-block" *ngIf="logInForm.get('username').touched && logInForm.get('username').hasError('required')">
              This field is required.
            </span>
          </div>
          <div class="form-group" [ngClass]="{
            'has-error': logInForm.get('password').touched && !logInForm.get('password').valid
          }">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" type="password" formControlName="password" id="password" placeholder="Password">
            <span class="help-block" *ngIf="logInForm.get('password').touched && logInForm.get('password').hasError('required')">
              This field is required.
            </span>
            <span class="help-block forgotten-password">
              <a href="#">I have forgotten my password</a>
            </span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <input class="btn btn-primary btn-block" type="submit" value="Log in" [disabled]="isSending || !logInForm.valid">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <p>Do not have an account yet?</p>
        <h1>
          <a [routerLink]="['/sign-up']">Sign up</a> right now!
        </h1>
      </div>
    </div>
  </div>
</div>