<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
          Videosome
        </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="(user$ | async) === null">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/log-in']"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/sign-up']"><span class="glyphicon glyphicon-new-window"></span> Sign up</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="(user$ | async) !== null">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              <span class="glyphicon glyphicon-user"></span> Logged as: {{ (user$ | async).username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
              </li>
              <li class="divider" role="separator"></li>
              <li>
                <a (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>