<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Videosome</h1>
      <h2>You can <a [routerLink]="['/room/create']">create new room</a> or <a href="#">join existing room</a>.</h2>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading; else loadingRooms">
    <div class="col-md-12">
      <h2>Public rooms</h2>
    </div>
    <div class="col-md-3" *ngFor="let room of rooms">
      <a [routerLink]="[getRoomPath(room)]">{{ room.title }}</a>
    </div>
  </div>
  <ng-template #loadingRooms>
    <div class="row">
      <div class="col-md-12">
        <h2>Loading...</h2>
      </div>
    </div>
  </ng-template>
</div>